.room {
  background-color: #fffef9;
  padding: 1rem;
  border-radius: 10px;
  color: #2e2e2e;
  margin: 5rem auto;
  height: 40rem;
  box-shadow: 5px 2px 33px -14px #2e2e2e;

  &__choice-row {
    width: 100%;
    margin-left: 12rem;
  }

  &__choice {
    width: 10rem;
  }
}
