.login {
  @include background(
    "../images/index/index7.jpg",
    bottom,
    $black,
    0%,
    $transparent,
    20%,
    $transparent,
    70%,
    $black,
    100%
  );

<<<<<<< HEAD
  &__position {
=======
  &__possition {
>>>>>>> suces design login
    margin-top: 17vh;

    @include media-breakpoint-up(sm) {
      margin-top: 27vh;
    }
  }

  &__label {
<<<<<<< HEAD
    @include label($secondary, 20pt, bold);
=======
    color: $secondary;
    font-size: 20pt;
    font-weight: bold;
>>>>>>> suces design login
  }

  &__form {
    background-color: $secondary;
  }

  &__button__2 {
<<<<<<< HEAD
    @include button-custom($primary, 12pt, bold);
  }

  &__button {
    @include button-custom($secondary, 12pt, bold);
=======
    color: $primary;
    font-weight: bold;
    font-size: 12pt;
  }

  &__button {
    color: $secondary;
    font-weight: bold;
    font-size: 12pt;
>>>>>>> suces design login
  }

  &__margin__2 {
    margin-top: -20px;
  }
}
