$amber: #ffc107;
$sail: #99E8F7;
$cream: #FFFCD1;
$cornflower-blue : #7371FC;
$french-lilac : #E5D9F2;
$white: #fff;
$black: #000;

$primary: $sail;
$secondary: $cream;
$info: $cornflower-blue;
$success: $french-lilac;
$transparent: transparent;

// Override Bootstrap Navbar Dark
$navbar-dark-color:                 rgba($secondary, .5) !default;
$navbar-dark-hover-color:           rgba($secondary, .75) !default;
$navbar-dark-active-color:          $secondary !default;
$navbar-dark-disabled-color:        rgba($secondary, .25) !default;
$navbar-dark-toggler-border-color:  rgba($secondary, .1) !default;